/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_buttons.css";
@import "_acf-blocks.css";


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

:focus, :focus-visible {
	outline: 2px solid var(--color-theme-orange);
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0 auto;
	max-width: 100%;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header,
	.site-footer {
		grid-column: 1 / -1;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}
/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: none;
	border: none;
	border-color: none;
	border-radius: 0;
	/* font-size: 1em; */
	line-height: 1;
	cursor: pointer;
}
/* stylelint-enable */

.form-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.form-block .form-container {
	max-width: 100%;
	width: 20em;
	margin: 1rem auto;
	position: relative;
	text-align: center;
}

.form-block .form-container .wpcf7-text,
.form-block .form-container .wpcf7-textarea {
	max-width: 100%;
	margin-bottom: 1rem;
}

.wpcf7-not-valid-tip {
	color: var(--color-theme-red);

}

.wpcf7 .ajax-loader {
	display: block;
	margin: auto;
}


button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: var(--border-color-light) #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--global-font-color);
	background: var(--color-theme-cream-dark);
	border: none;
	padding: .5em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--global-font-color);
}

select {
	border: 1px solid var(--border-color-light);
	background: var(--color-theme-cream-dark);
	padding: .25em;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background: linear-gradient(#fff4da99 50%, #ffffff00);
	transition: background .6s ease-out, box-shadow .6s ease-out;
}

.site-header.sticky {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	background: var(--color-cream-transparent);
}

@media (--wide-menu-query) {
	.site-header {
		background: linear-gradient(#fff4da77, #ffffff00);
		justify-content: space-around;
	}

}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto;
}

.custom-logo {
	min-width: 200px;
	max-width: 300px;
	width: 25vw;
	transition: min-width .2s ease-out;
}

.site-header.sticky .custom-logo {
	min-width: 140px;
	max-width: 50%;
	width: auto;
}

.site-branding {
	text-align: center;
	padding: 20px 1em 0;
	transition: padding .2s ease-out;
}

.site-header.sticky .site-branding {
	padding: 5px 1em 0;
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 0 auto;
	border: none;
	background: transparent;
	width: 4rem;
	max-width: none;
	min-width: 0;
	height: 4rem;
	padding: 0.2rem;
	margin-right: .5rem;
}

.nav--toggle-small .menu-toggle .menu-icon {
	width: 100%;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.nav--toggle-small .menu-toggle .menu-icon span {
	height: 0.4rem;
	width: 100%;
	background-color: blue;
	display: block;
	margin: 0.3rem auto;
	background-color: var(--color-theme-orange);
	border-radius: 1rem;
	pointer-events: none;
	opacity: 1;
	transition: opacity .2s, height 0.2s, width 0.2s, transform 0.2s;
	transform-origin: center;
}

.nav--toggle-small .menu-toggle .menu-icon span:nth-child(1) {
	height: 0.6rem;
	background-color: var(--color-theme-red);
}

.nav--toggle-small .menu-toggle .menu-icon span:nth-child(2) {
	height: 0.4rem;
	background-color: var(--color-theme-orange);
}

.nav--toggle-small .menu-toggle .menu-icon span:nth-child(3) {
	height: 0.2rem;
	background-color: var(--color-theme-yellow);
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(2) {
	opacity: 0;
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(1),
.nav--toggled-on .menu-toggle .menu-icon span:nth-child(3) {
	height: .4rem;
	width: 3rem;
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(1) {
	transform: translateY(1rem) rotate(45deg);
}

.nav--toggled-on .menu-toggle .menu-icon span:nth-child(3) {
	transform: translateY(-1rem) rotate(-45deg);
}

.nav--toggle-small .menu {
	display: none;
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

@media (--narrow-menu-query) {

	.nav--toggle-small.nav--toggled-on .menu {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.primary-menu-container {
		opacity: 0;
		transition: opacity .2s;
	}

	.nav--toggled-on .primary-menu-container {
		opacity: 1;
	}
}

@media (--wide-menu-query) {

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: #fff;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 100;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid var(--border-color-dark);
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	align-self: center;
	display: block;
	margin: 0;
	padding: 0;
	/* max-width: var(--content-width); */
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--narrow-menu-query) {

	.primary-menu-container #primary-menu{
		position: absolute;
		top: 6rem;
		left: 0;
		bottom: 0;
		right: 0;
		background: var(--color-black-transparent);
		height: 0;
		width: 100vw;
		padding: 2rem 1rem;
		transition: top .2s ease-in, height 0.2s ease-in;
	}

	.nav--toggled-on .primary-menu-container #primary-menu{
		height: calc(100vh - 6rem);
	}

	.site-header.sticky .primary-menu-container #primary-menu {
		height: calc(100vh - 4rem);
		top: 4rem;
	}

	.site-main {
		transition: filter 0.2s;
	}

	.site-main.nav--toggled-on {
		filter: blur(.5rem);
	}
}

.main-navigation a {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: .5em ;

	color: var(--color-theme-cream);
	text-align: center;
	font-size: 1.2em;
}

@media (--wide-menu-query) {

	.main-navigation a {
		color: var(--color-theme-black);
		padding: 0.5em 1em 0.5em 0;
		font-size: 1em;
		transition: font-size .2s ease-in, color .1s ease-out;
	}

	.sticky .main-navigation a {
		font-size: 0.8em;
	}

}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: none;
	color: var(--color-theme-red);
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 600;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation .primary-menu-container {
		padding: 34px 0;
	}

	.site-header.sticky .main-navigation .primary-menu-container {
		padding: 0 0;
	}

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid var(--border-color-dark);
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
	margin-top: 1em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--border-color-dark);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: var(--global-font-family);
	font-stretch: condensed;
	font-size: var(--font-size-small);
}

.site-info {
	text-align: center;
}

/* Newsletter CTA */
.newsletter {

}

.newsletter .cta-text{
	font-size: 1.6em;
	font-family: var(--highlight-font-family);
	color: var(--color-theme-red);
	display: block;
}

.newsletter .cta-text .big {
	font-size: 1.8em;
}

.site-footer .newsletter {
	margin: auto;
	max-width: 30em;
	text-align: center;
	padding: 1rem;
}

.site-footer .address,
.site-footer .address h4 {
	text-align: center;
}



/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/

.social {
	display: flex;
	justify-content: center;
}

.social img {
	margin: 1em;
	transition: transform .1s;
}

.social img:hover {
	transform: scale(1.1);
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/* Woo */
.woocommerce {

}

.entry-content > .woocommerce {
	padding: 0;
}

.woocommerce-error, .woocommerce-info,
.woocommerce-message {
	background-color: var(--color-theme-black);
	color: var(--color-theme-cream);
}

.woocommerce-message {
	border-top-color: var(--color-theme-cream-dark);
}

.woocommerce-message a.button {
		width: auto;
}

.woocommerce .products ul,
.woocommerce ul.products {
	margin: 1em auto;
	padding: 0;
	list-style: none outside;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	display: flex;
	flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: stretch;
}

.woocommerce div.product form.cart {
	margin-bottom: 2em;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.woocommerce

.woocommerce-ordering {
	display: none;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: var(--color-theme-black);
}

.woocommerce .product a.button,
.woocommerce .product input.button,
.woocommerce .product a.button:hover,
.woocommerce .product input.button:hover  {
	max-width: 12em;
	margin: auto;
	font-size: .8em;

	/* padding: 1em 1.4em; */
}

.woocommerce .product a.button.added,
.woocommerce .product input.button.added {
	background-image: url(../images/orange_button.png);
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit,.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: inherit;
	background-image: url(../images/gold_button.png);
	background-size: 100% 100%;
	color: var(--color-theme-cream);
	padding: 1em 1.4em;
	max-width: 100%;
	font-size: .8em;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	display: inline-block;
}

.woocommerce ul.products[class*="columns-"] li.product,
.woocommerce-page ul.products[class*="columns-"] li.product {
	width: 20em;
	max-width: 100%;
	margin: 2rem auto;
	text-align: center;
}

@media (--content-query) {
	.woocommerce ul.products[class*="columns-"] li.product,
	.woocommerce-page ul.products[class*="columns-"] li.product {
		max-width: 22%;
		margin: 2rem auto;
		text-align: center;
	}

}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: var(--color-theme-cream);
	border-bottom-color: var(--color-theme-cream);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid var(--color-theme-cream-dark);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid var(--color-theme-cream-dark);
	background-color: var(--color-theme-cream-dark);

}

.entry.product {
	/* padding-top: 10em; */
}

.woocommerce a.added_to_cart {
	font-weight: bold;
	text-align: center;
}

.woocommerce a.added_to_cart:after {
	content: ' >';
	font-weight: bold;
}

/* Single Product */

.single-product .site {
	padding-top: 10rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin-bottom: 0;
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: var(--color-theme-cream);
	font-size: .9em;
}

@media (--content-query) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-size: .9em;
	}
}


.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: var(--color-theme-black);
	color: var(--color-theme-cream);
	border-bottom-color: var(--color-theme-black);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
	box-shadow: none;
	border: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
	background-color: var(--color-theme-black);
	color: var(--color-theme-cream);
	padding: 1em 0;
}

@media (--content-query) {
	.woocommerce div.product .woocommerce-tabs .panel {
		padding: 1em;
	}
}



.woocommerce div.product .woocommerce-tabs h2 {
	margin: 0;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: transparent;
}

/* Cart */
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: auto;
}

.cart_totals .shop_table.shop_table_responsive {
	background: var(--color-theme-cream-dark);
}

/* Checkout */
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background-color: var(--color-theme-cream-dark);
}

.wc_payment_method.payment_method_stripe label {
	display: flex;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {

}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	background-color: var(--color-cream-transparent);
}

.woocommerce-loop-category__title .count {
	display: none;
}

.sku_wrapper {
	display:none;
	}

.woocommerce .custom-logo, .woocommerce-page .custom-logo {
	max-width: 300px;
}

.woocommerce .woocommerce-breadcrumb {
    margin: 2rem auto;
}
